.feather {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

.card-small {
  max-width: 25em;
}

.card-justify {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.is-filled {
  fill: currentColor;
}

.collapse-header-icon-collapse {
  transform: rotate(0deg);
  transition: transform 150ms ease-out;
}

.collapse-header-icon {
  transform: rotate(180deg);
  transition: transform 150ms ease-out;
}
